



  <head>
    <div id="wrapper">
      <div id="sidebar">
        <a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <!-- <div id="logo"> <a href="/"><img src="img/logo.svg" alt="logo" /></a> </div> -->
        <nav id="nav" class="navigation" role="navigation">
          <ul class="unstyled">
            <% if params[:action] =="home" %>
            <li class="active" ><div id="iconmaster"> <%= link_to "<i class=\"icon-home\"></i>".html_safe, root_path %> </div> <%= link_to "Home", root_path %> </li> 
            <% else %>
                <li ><div id="iconmaster"> <%= link_to "<i class=\"icon-home\"></i>".html_safe, root_path %></div>  <%= link_to "Home", root_path %> </li> 
            <% end %>

            <% if params[:action] == "about" %>
            <li class="active"><div id="iconmaster"> <%= link_to "<i class=\"icon-user\"></i>".html_safe,about_path %> </div> <%= link_to "About", about_path %></li>
            <% else %>

            <li> <div id="iconmaster"><%= link_to "<i class=\"icon-user\"></i> ".html_safe , about_path  %> </div> <%= link_to "About", about_path %> </li>

            <% end %>


            <li ><i class="icon-laptop"></i> <span>Projects</span></li>
            <li ><i class="icon-pencil"></i> <span>Social</span></li>
            <li ><i class="icon-envelope"></i> <span>Contact</span></li>
          </ul>
        </nav><!-- /nav -->
      </div><!-- /sidebar -->
</head>



